version: "3.9"
services:
  publisher-backend: 
    build:
      context: .
      dockerfile: /Publisher-Backend/Dockerfile
    ports:
      - "5100:5100"
  suscription-backend:
    build:
      context: .
      dockerfile: /Suscription-Backend/Dockerfile
    ports:
      - "80:80"
